{{#paper-content flex=true scroll-y=true layout-padding=true}}
    <div class="doc-content">

      {{#paper-card as |card|}}
        {{#paper-toolbar warn=true}}
          {{#paper-toolbar-tools}}
              <h2>Pre-production Version</h2>
              <span class="flex"></span>
            {{#paper-button href="/ember-paper/release-0-2"}}Switch to version 0.2{{/paper-button}}
          {{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#card.content}}
            <p>You are viewing the demonstration and documentation for a <strong>pre-production</strong> built of <code>ember-paper</code>. This version is in flux. For version 1.0, all components are being updated to reflect the latest Ember coding practices and Angular Material stylesheets. Components which have not yet been updated are shown with a {{paper-icon "warning"}} and are subject to API changes. Be sure to read CHANGELOG.md when updating.</p>
            <p><strong>Wrong version?</strong> The latest released stable version of <code>ember-paper</code> is 0.2, installed by <br><code>ember install ember-paper@^0.2</code>. See README.md for advice on which version to use. <a href="/ember-paper/release-0-2">Switch to version 0.2.</a></p>
        {{/card.content}}
      {{/paper-card}}


    </div>
{{/paper-content}}