{{#paper-content flex=true scroll-y=true layout-padding=true}}
    <div class="doc-content">

        {{#paper-card as |card|}}
            {{#paper-toolbar}}
                {{#paper-toolbar-tools}}
                    <h2>ITEMS</h2>
                {{/paper-toolbar-tools}}
            {{/paper-toolbar}}
            {{#card.content}}
                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            {{/card.content}}
        {{/paper-card}}


    </div>
{{/paper-content}}